@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    font-family: 'Hanken Grotesk';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#full-card {
    margin: auto;
    display: flex;
    background-color: #ffffff;
    width: 44em;
    border-radius: 1.5em;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    transform: translate(0, -50%);
    margin: auto;
    left: 25%;
}

#results {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    color: #ffffff;
    width: 22em;
    border-radius: 1.5em;
    padding: 1em;
}

#results-title {
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
    color: hsl(241, 100%, 89%);
}

#results-circle {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 11em;
    height: 11em;
    border: none;
    border-radius: 50%;
}

#score {
    font-size: 4em;
}

#total-score {
    font-size: 1em;
    color:hsl(241, 100%, 89%);
}

#congratulations {
    font-size: 1.5em;
    margin: 1em 0;
    text-align: center;
}

#score-percent {
    text-align: center;
    margin-bottom: 2em;
}

#summary {
    background-color: #ffffff;
    width: 22em;
    box-shadow: 20px 20px 20px rgba(102, 73, 220, 0.145);
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

#summary-title {
    font-weight: 800;
    font-size: 2em;
    margin: 1em 1em 1em;
}

#summary-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.summary-card {
    display: flex;
    margin: auto;
    width: 18em;
    padding: 1em;
    border-radius: 0.7em;
    margin-bottom: 1em;
}

#reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

#memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

#verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

#visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.icon {
    margin-right: 0.6em;
}

.summary-score {
    width: 100%;
    display: flex;
    justify-content: end;
}

.bold {
    font-weight: 700;
    margin-right: 0.5em;
}

#button-center {
    display: flex;
    justify-content: center;
}

#button {
    padding: 1em;
    margin: 1em 0 2em 0;
    width: 18em;
    border: none;
    background-color: hsl(224, 30%, 27%);
    border-radius: 2em;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

#button:hover {
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.attribution {
    text-align: center;
    margin-top: 40em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
